body{
    height: 82vh;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.514)), url(images/Bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container{
    background-color: rgba(128, 128, 128, 0.884);
    border-radius: 2%;
    box-shadow: 10px 10px 5px black;
    width: 850px;
    height: 525px;
    margin-left: 22%;
    margin-top: 12%;
    padding-left: 7%;
    padding-top: 2%;
}

.btn2{
    border: none;
    background-color: transparent;
    margin-left: 33%;
    margin-top: 5%;
}

.btn{
    background-color: #1f1f1f;
    width: 200px;
}

.logo{
    margin-left: 4%;
}

h1{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.815);
    width: fit-content;
    margin-left: 20%;
}

.img{
    margin: 10%;
}